$invalid-color: #fa787e;
$valid-color: #78fa89;
$navbar-inverse-color: #aea79f;
$gradient-initial: #ACBED8;
$white: white;
$dark-grey: #808080;
$light-grey: #cccccc;

html,
body {
  background: linear-gradient($gradient-initial, $white);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 7.5em;
}

.fredericka-font {
  font-family: 'Fredericka the Great', cursive;
}

@media only screen and (max-width: 768px) {
  .logo {
    font-size: 7em;
    transition: all .5s;
  }

  .sub-title {
    font-size: 2em;
    transition: all .5s;
  }

  .btn-arrow {
    padding: 0 25px;
    transition: all .5s;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-form {
    input {
      max-width: 150px;
    }
  }

  .logo {
    font-size: 15em;
    transition: all .5s;
  }

  .sub-title {
    font-size: 3.5em;
    transition: all .5s;
  }

  .btn-arrow {
    padding: 0 50px;
    transition: all .5s;
  }
}

.navbar-form {
  .form-group {
    margin: 0 10px;
  }

  .tags {
    display: flex;

    input {
      min-width: 150px;
    }
  }
}

.input-group {
  margin-right: 5px;

  .input-group-addon {
    height: 20px;
  }
}

.tag {
  margin: 0 5px;
}

.ng-dirty.ng-invalid {
  border-color: $invalid-color;
}

.ng-dirty.ng-valid {
  border-color: $valid-color;
}

.right-align {
  display: flex;
  justify-content: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center-align {
  align-items: center;
  display: flex;
  justify-content: center;
}

.center-align-space-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.center-align-space-around {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.content {
  padding-bottom: 50px;
}

.footer {
  bottom: 0;
  color: $white;
  font-size: 1.25em;
  height: 50px;
  left: 0;
  position: absolute;
  width: 100%;

  a,
  a:visited {
    color: $white;
  }
}

.list.img-list {
  li {
    border-bottom: 5px solid $light-grey;
    border-collapse: collapse;
    display: table;
    width: 100%;

    .inner {
      display: table-row;
      overflow: hidden;
    }

    .li-img {
      display: table-cell;
      padding-right: 1em;
      vertical-align: middle;
      width: 30%;
    }

    .li-img img {
      display: block;
      height: auto;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      max-height: 200px;
      max-width: 100%;
    }

    .li-text {
      display: table-cell;
      padding-right: 1em;
      vertical-align: middle;
      width: 70%;
    }

    .li-head {
      margin-bottom: 10px;
      text-align: justify;
      text-justify: inter-word;
    }

    .li-sub-head {
      color: $dark-grey;
      font-style: italic;
    }

    .li-summary {
      display: block;
      margin-bottom: 10px;
      text-align: justify;
      text-justify: inter-word;
    }

    .li-action {
      margin: 0;
    }
  }
}

.scroll-to-top {
  bottom: 100px;
  position: fixed;
  right: 25px;
}
