@import "palette";

html, body {
  height:100%;
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
}

.fredericka-font {
  font-family: 'Fredericka the Great', cursive;
}

.navbar-form {
  .form-group {
    margin: 0 10px;
  }
}

.tag {
  margin: 0 5px;
}

.ng-dirty.ng-invalid {
  border-color: $invalid-color;
}

.ng-dirty.ng-valid {
  border-color: $valid-color;
}

.right-align {
  display: flex;
  justify-content: flex-end;
}

#logo {
  margin-top: 75px;
  font-size: 15em;
}

.center-align-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-align-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#wrapper {
  min-height:100%;
  position:relative;
}

#content {
  padding-bottom: 50px; /* Height of the footer element */
}

#footer {
  position: absolute;
  width: 100%;
  height: 50px;
  color: white;
  font-size: 1.25em;
  bottom: 0;
  left: 0;

  a, a:visited {
    color: white;
  }
}
