@import "palette";

html, body {
  font-family: 'Roboto', sans-serif;
}

.fredericka-font {
  font-family: 'Fredericka the Great', cursive;
}

.navbar-form {
  .form-group {
    margin: 0 10px;
  }
}

.tag {
  margin: 0 5px;
}

.ng-dirty.ng-invalid {
  border-color: $invalid-color;
}

.ng-dirty.ng-valid {
  border-color: $valid-color;
}

.right-align {
  display: flex;
  justify-content: flex-end;
}

#logo {
  font-size: 15em;
  margin-top: 75px;
}

.center-align-space-around {
  display: flex;
  justify-content: space-around;
}
