<div class="row">
  <div class="col-sm-6 col-md-4"  ng-repeat="article in newsDisplayCtrl.news">
    <div class="article thumbnail">
      <div class="date right-align">
        {{ new Date(article.date) | date }}
      </div>
      <img ng-src={{article.image}} 
          alt="...">
      <div class="caption">
        <div class="source">
          ref. {{article.source}}
        </div>
        <h2>{{ article.title | limitTo:22:'...'}}{{article.title.length > 22 ? '...' : ''}}</h2>
        <p>{{ article.review }}</p>
      </div>
      <div class="tags">
        <span class="tag label label-info" ng-repeat="tag in article.tags">
          {{ tag.name }}
        </span> 
      </div>
    </div>
  </div>
</div>