<div class="row">
  <div class="col-sm-6 col-md-4"  ng-repeat="newItem in newsDisplayCtrl.newsItems">
    <div class="article thumbnail">
      <img ng-src={{newItem.image}} 
          alt="...">
      <div class="caption">
        <div class="source">
          ref. {{newItem.source}}
        </div>
        <h2>{{ newItem.title | limitTo:22:'...' }}{{ newItem.title.length > 22 ? '...' : '' }}</h2>
        <p>{{ newItem.url }}</p>
      </div>
      <!--
      <div class="tags">
        <span class="tag label label-info" ng-repeat="tag in newItem.tags">
          {{ tag.name }}
        </span>
      </div>
      -->
    </div>
  </div>
</div>
