<h2 class="row">
  <div class="col-xs-4 left-align">
    <button type="button" class="btn btn-lg btn-primary btn-arrow"
            ng-click="newsDisplayCtrl.updateNews(newsDisplayCtrl.currentPage - 1)"
            ng-class="{'hidden' : newsDisplayCtrl.currentPage === 0}">
      <i class="fa fa-long-arrow-left fa-2x"></i>
    </button>
  </div>

  <div class="col-xs-4 center-align">
    Page {{newsDisplayCtrl.currentPage + 1}}
  </div>

  <div class="col-xs-4 right-align">
    <button class="btn btn-lg btn-primary btn-arrow"
            ng-click="newsDisplayCtrl.updateNews(newsDisplayCtrl.currentPage + 1)"
            ng-class="{'hidden' : newsDisplayCtrl.newsItems.length === 0}">
      <i class="fa fa-long-arrow-right fa-2x"></i>
    </button>
  </div>
</h2>

<ul class="list img-list">
  <li ng-repeat="newsItem in newsDisplayCtrl.newsItems">
    <div class="inner">
      <div class="li-img">
        <img src="{{newsItem.image}}" alt="..." class="img-rounded"
             ng-if="newsItem.image !== undefined && newsItem.image !== ''">
        <img src="http://placehold.it/640x480&text=Newsify" class="img-rounded"
             ng-if="newsItem.image === undefined || newsItem.image === ''">
      </div>
      <div class="li-text">
        <h4 class="li-head">
          <a ng-href="{{newsItem.url}}" target="_blank">
            {{newsItem.title}}
          </a>
        </h4>
        <p class="li-sub-head">
          <span class="badge">{{newsItem.language}}</span> {{newsItem.source}}
        </p>
        <p class="li-summary" ng-if="!newsItem.clicked">
          {{newsItem.body | limitTo:300:'...'}}{{newsItem.body.length > 300 ? '...' : ''}}
        </p>
        <p class="li-summary" ng-if="newsItem.clicked">
          {{newsItem.body}}
        </p>
        <a ng-click="newsItem.clicked=!newsItem.clicked" class="li-action">
          <span ng-if="!newsItem.clicked">Read More</span>
          <span ng-if="newsItem.clicked">Read Less</span>
        </a>
      </div>
    </div>
  </li>
</ul>

<button class="scroll-to-top btn btn-sm btn-primary"
        ng-click="newsDisplayCtrl.scrollUp()">
  <i class="fa fa-arrow-up"></i>
</button>
