<form name="searchForm" role="search"
      ng-submit="searchForm.$valid && searchBarCtrl.submit()" novalidate>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-search"></i></div>
      <input type="text" class="form-control" id="search" placeholder="Buscar noticias..."
             ng-model="searchBarCtrl.search.content" required />
    </div>
  </div>

  <button type="submit" class="btn btn-default"
          ng-disabled="!searchForm.$valid">
          Buscar
  </button>
</form>
