<form name="searchForm" role="search"
      ng-submit="searchForm.$valid && searchBarCtrl.submit()" novalidate>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-search"></i></div>
      <tags-input ng-model="searchBarCtrl.tags">
        <auto-complete source="searchBarCtrl.tagCollection"></auto-complete>
      </tags-input>
    </div>
  </div>

  <button type="submit" class="btn btn-default"
          ng-disabled="!searchForm.$valid">
          Buscar
  </button>
</form>
