<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/"></a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/#/home">Newsify</a></li>
      </ul>

      <search-bar class="navbar-form navbar-left"></search-bar><!-- Falta agregar si hay usuario-->

      <form name="loginForm" class="navbar-form navbar-right"
            ng-submit="loginForm.$valid && navbarCtrl.login()"
            ng-if="true" novalidate>
        <div class="form-group">
          <input type="email" class="form-control" id="login-email" placeholder="e-mail"
                 ng-model="navbarCtrl.session.email" required />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="password"
                 ng-model="navbarCtrl.session.password" required />
        </div>

        <button type="submit" class="btn btn-sm btn-primary"
                ng-disabled="!loginForm.$valid">
                Entrar
        </button>
      </form>
    </div>
  </div>
</nav>
